<div class=f>
<p class='c i'>
<a class=u href=#>subscribe  →</a></p>
<p class=b></b>
{% if paginator.previous_page %}
<p class='l i'><a class=u href="{{ paginator.previous_page_path }}">←  prev</a></p>
{% endif %}
{% if paginator.next_page %}
<p class='r i'><a class=u href="{{ paginator.next_page_path }}">next  →</a></p>
{% endif %}
<p class=e></p>
<p class=b></p>
<p class='l i'><a class=g href=>TEST TEST</a></p>
<p class='r i'><a class='v u' href=>email</a>
<a class='v u' href=>twitter</a>
<a class='v u' href=>facebook</a></p>
<p class=e></p>
<p class=b></p>
<p class='l i'><a class='u v' href=#>top</a>
<a class='u v' href=>github</a>
<a class='u v' href=>rss</a></p>
<p class=k>&copy; all wrongs reserved</p>
</div>
