*{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;line-height:16px;font:normal normal 18px arial, helvetica, sans serif;color:#4d4d4d}

.m:link, .m:visited{text-decoration:none;font-size:35px;font-weight:900;color:#D21034}

.c {
text-align:center
}

.b {
border-top:1px solid #f0f0f0;
position:absolute;
left:0px;
right:0px
}

.e {
clear:both
}

.p {
padding: 50px 0 50px 0
}

.i{
padding:25px 0 25px 0
}

.g{padding-top:50px}

.k{
color:#cccccc;
font-size:14px;
clear:both;
}

.post-content a:link, .post-content a:visited{
text-decoration: none;
font-weight: 400;
transition-property: all;
transition-duration: 0.2s;
transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
border-bottom: 2px solid #e1e1e1
}

.post-content a:hover{
border-color:#D21034;
color:#333
}

.r {
float:right
}

.l {
float:left
}

.g:link, .g:visited{
color:#D21034;
font-weight:900;
text-decoration:none;
font-size:20px
}

.s{
font-size:20px;
color:#6e6e6e;
font-weight:300;
padding-top:3.125px
}

.x{
font-size:40px;color:#000000;font-weight:700
}

.y {
padding:50px 0 25px 0
}

.z {
padding-top: 12.5px
}

.t:link, .t:visited{
font-size:40px;text-decoration:none;color:#000000;font-weight:700}

.t:hover{color:#D21034}

.u{
display:inline-block;
border: 1px solid #e4e4e4;
padding: 4px 18px 4px 18px;
border-radius: 30px;
text-decoration: none;
color: #8c8c8c;
font-weight: 400;
font-size: 15px;
transition-property: all;
transition-duration: 0.2s
}


.u:hover{
color:#fafafa;
background-color:#D21034;
border-color:#D21034
}

.v:link{
border:none;
line-height:15px
}

